.image-contentleft{
    height: 400px;
    width: 50%;
    border: 1px solid;
    //float: left;
    margin-top:10px;
}
.image-contentleft{
    height: 400px;
    width: 50%;
    border: 1px solid;
    //float: left;
    margin-top:10px;
}
